<div class="row">
    <div class="col-lg-2">
        <h1>Админка</h1>
        <ul class="list-group">
            <li class="list-group-item">
                Юзеры
                <ul>
                    <li>
                        <a routerLink="/admin/users/vk">VK</a>
                    </li>
                    <li>
                        <a routerLink="/admin/users/telegram">Telegram</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a routerLink="/admin/messages">Сообщения</a>
            </li>
            <li class="list-group-item">Напоминалки</li>
            <li class="list-group-item">CRON</li>

            <li class="list-group-item">
                <a [href]="this.hangfireUrl" target="_blank">Hangfire</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>