<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <a mat-button routerLink="/">Goblin</a>
    <a mat-button routerLink="/schedule" routerLinkActive="active-link">Расписание</a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
      <span>TG</span>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
      <span>VK</span>
    </button>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>
</main>