services:
  postgres:
    container_name: goblin-postgres
    hostname: postgres
    image: postgres:18
    ports:
      - "51946:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: goblin
    networks:
      - goblin_network

  goblin:
    container_name: goblin-server
    hostname: goblin
    build:
      context: src/
    ports:
      - "5177:80"
    networks:
      - goblin_network
    env_file:
      - .env

networks:
  goblin_network: