@page "/Schedule/"
@model Goblin.WebApp.Pages.Schedule.Index

@{
    ViewData["Title"] = "Расписание";
}

<h2>Расписание САФУ</h2>
<div class="col-md-3">
    <form class="form" method="get" asp-area="" asp-page="/Schedule/Show">
        <div class="form-group">
            <input type="number" class="form-control" name="id" placeholder="Номер группы" required="" autofocus="">
        </div>
        <div class="form-group">
            <label>Дата:</label>
            <input type="date" class="form-control" name="date">
            <small id="emailHelp" class="form-text text-muted">(если не указана, то с сегодняшнего дня)</small>
        </div>
        <button type="submit" class="btn btn-primary mb-2 btn-block">Посмотреть</button>
    </form>
    <p>А также Вы можете воспользоваться функционалом одного из ботов для получения расписания по утрам в личные сообщения:</p>
    <ul class="list-group">
        <li class="list-group-item">ВКонтакте - <a href="https://vk.com/japanese.goblin">ссылка на группу ВКонтакте</a></li>
        <li class="list-group-item">Telegram - <a href="https://t.me/japanese_goblin_bot">ссылка на бота в Telegram</a></li>
    </ul>
</div>