@page "/Schedule/"
@model Goblin.WebApp.Pages.Schedule.Index
@inject IOptions<LinksOptions> Links
@using Goblin.Application.Core.Options
@using Microsoft.Extensions.Options

@{
    ViewData["Title"] = "Расписание";
}

<h2>Расписание САФУ</h2>
<div class="col-md-3">
    <form class="form" method="get" asp-area="" asp-page="/Schedule/Show">
        <div class="form-group">
            <input type="number" class="form-control" name="id" placeholder="Номер группы" required="" autofocus="">
        </div>
        <div class="form-group">
            <label>Дата:</label>
            <input type="date" class="form-control" name="date">
            <small id="emailHelp" class="form-text text-muted">(если не указана, то с сегодняшнего дня)</small>
        </div>
        <button type="submit" class="btn btn-primary mb-2 btn-block">Посмотреть</button>
    </form>
    <hr/>
    <p>А также можете воспользоваться функционалом бота для <b>получения расписания по утрам в личные сообщения</b> в следующих местах:</p>
    <div class="btn-group btn-group-lg btn-block">
        <a class="btn btn-info" href="@Links.Value.Vk" target="_blank">ВКонтакте</a>
        <a class="btn btn-info" href="@Links.Value.Telegram" target="_blank">Telegram</a>
    </div>
</div>