@page "/Schedule/"
@model Goblin.WebApp.Pages.Schedule.Index

@{
    ViewData["Title"] = "Расписание";
}

<h2>Расписание САФУ</h2>
<div class="col-md-3">
    <form class="form" method="get" asp-area="" asp-page="/Schedule/Show">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" name="id" id="groupId" required="" autofocus="">
            <label for="groupId">Номер группы</label>
        </div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" name="date" id="date">
            <label for="date">Дата</label>
            <small class="form-text text-muted">
                (если не указана, то с сегодняшнего дня)
            </small>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary mb-2">Посмотреть</button>
        </div>
    </form>
    <hr/>
    <p>А также можете воспользоваться функционалом бота для <b>получения расписания по утрам в личные сообщения</b> в следующих местах:</p>
    <partial name="_ExternalLinks"/>
</div>