<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="ZidiumLog" xsi:type="Zidium.Log" componentId="30d607ff-5498-4405-83fb-fb62f737c5ab" />
    <target name="ZidiumErrors" xsi:type="Zidium.Errors" componentId="30d607ff-5498-4405-83fb-fb62f737c5ab" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ZidiumLog" />
    <logger name="*" minlevel="Trace" writeTo="ZidiumErrors" />
  </rules>
</nlog>
