@page "/"
@model Goblin.WebApp.Pages.Home.Index

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Что это такое?</h1>
    <p>Вы попали на сайт бота для ВКонтакте - <a href="https://vk.com/club146048760">Японского Гоблина</a> (Бот умеет рассылать расписание каждое утро!).</p>
    <p>
        Здесь Вы <a asp-area="" asp-page="/Schedule">можете просмотреть всё доступное расписание по номеру Вашей группы</a> (а не на месяц, как на официальном сайте)
    </p>
</div>