@page "/"
@model Goblin.WebApp.Pages.Home.Index

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <img class="d-block mx-auto mb-4" src="/goblin.svg" alt="" width="124" height="124">
    <h1 class="display-4">Бот для студентов САФУ</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Тут будет крутой текст для пользователей
        </p>
    </div>
    <div class="col-lg-6 mx-auto">
        <a class="btn btn-primary btn-lg" asp-area="" asp-page="/Schedule/Index">Открыть расписание САФУ</a>
    </div>
    <div class="col-lg-6 mx-auto m-4">
        <h2 class="display-6">
            Ссылки на ботов:
        </h2>
        <partial name="_ExternalLinks"/>
    </div>
</div>