@model Goblin.Data.ViewModels.LoginModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="~/styles/bootstrap.min.css" rel="stylesheet">
    <link href="~/styles/login.css" rel="stylesheet">
</head>
<body class="text-center">
<form class="form-signin" asp-controller="Account" asp-action="Login" method="post">
    <input type="text" id="Nick" class="form-control" placeholder="Nick" name="Nick" required="" autofocus="">
    <input type="password" id="Password" class="form-control" placeholder="Password" name="Password" required="">
    <button class="btn btn-lg btn-info btn-block" type="submit" name="submit" value="login">Login</button>
    <p class="mt-5 mb-3 text-muted">© JG 2017-2019</p>
</form>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>