@page
@using Goblin.Domain
@model Goblin.WebApp.Areas.Admin.Pages.CronJobs.Create;
@{
    ViewData["Title"] = "Добавление Cron";
}

<div class="col-md-3">
    <h2>@ViewData["Title"]</h2>
    <hr/>
    <form asp-area="Admin" asp-page="./Create" asp-antiforgery="true" method="post">
        <div class="mb-3 form-floating">
            <input asp-for="Input.Name" class="form-control" required="required"/>
            <label asp-for="Input.Name">Название</label>
        </div>
        <div class="mb-3 form-floating">
            <input asp-for="Input.ChatId" class="form-control" required="required" max="@long.MaxValue"/>
            <label asp-for="Input.ChatId">ID чата</label>
            <small class="form-text text-muted">Для вк - 2000000001 для бесед</small>
        </div>
        <div class="mb-3 form-floating">
            <input asp-for="Input.NarfuGroup" class="form-control" min="0"/>
            <label asp-for="Input.NarfuGroup">Номер группы</label>
        </div>
        <div class="mb-3 form-floating">
            <input asp-for="Input.WeatherCity" class="form-control"/>
            <label asp-for="Input.WeatherCity">Город</label>
        </div>
        <div class="mb-3 form-floating">
            <textarea asp-for="Input.Text" class="form-control"></textarea>
            <label asp-for="Input.Text">Текст</label>
        </div>
        <hr/>
        <div class="mb-3 form-floating">
            <select asp-for="Input.ConsumerType" class="form-control" asp-items="Html.GetEnumSelectList<ConsumerType>()" required="required"></select>
            <label asp-for="Input.ConsumerType">Куда отправлять</label>
        </div>
        <div>
            <label asp-for="Input.CronType">Что отправлять</label>
            <select asp-for="Input.CronType" class="form-select" required multiple>
                <option disabled="disabled">Выбери</option>
                <option value="1">Погода</option>
                <option value="2">Расписание</option>
                <option value="4">Текст</option>
            </select>
        </div>
        <hr/>
        <div class="form-text">
            <p>* - для любого значения</p>
            <p>1-12 - каждую * между 0 и 12</p>
        </div>
        <div class="mb-3 form-floating">
            <input asp-for="Input.CronHour" class="form-control" value="*"/>
            <label asp-for="Input.CronHour"></label>
            <small>От 0 до 23</small>
        </div>
        <div class="mb-3 form-floating">
            <input asp-for="Input.CronMinute" class="form-control" value="*" />
            <label asp-for="Input.CronMinute"></label>
            <small>От 0 до 59</small>
        </div>
        <div class="mb-3 form-floating">
            <input asp-for="Input.CronDayOfMonth" class="form-control" value="*"/>
            <label asp-for="Input.CronDayOfMonth"></label>
            <small>От 0 до 31</small>
        </div>
        <div class="mb-3 form-floating">
            <input asp-for="Input.CronMonth" class="form-control" value="*"/>
            <label asp-for="Input.CronMonth"></label>
            <small>От 1 до 12</small>
        </div>
        <div class="mb-3 form-floating">
            <input asp-for="Input.CronDayOfWeek" class="form-control" value="*"/>
            <label asp-for="Input.CronDayOfWeek"></label>
            <small>От 0 до 6</small>
        </div>
        <button type="submit" class="btn btn-success btn-block">Добавить</button>
    </form>
</div>