@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if(SignInManager.IsSignedIn(User))
    {
        if(User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    Админка
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item disabled" href="#">Пользователи:</a>
                    <a class="dropdown-item" asp-area="Admin" asp-page="/Users/Vk">Вк</a>
                    <a class="dropdown-item" asp-area="Admin" asp-page="/Users/Telegram">Телеграм</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="Admin" asp-page="/Messages/Index">Сообщения</a>
                    <a class="dropdown-item" asp-area="Admin" asp-page="/Reminds/Index">Напоминалки</a>
                    <a class="dropdown-item" asp-area="Admin" asp-page="/CronJobs/Index">Cron</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Admin/Hangfire">HangFire</a>
                </div>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/")">
                <button type="submit" class="nav-link btn btn-link">Выход</button>
            </form>
        </li>
    }
    else
    {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/ExternalLogin"
              method="post" asp-route-returnUrl="@Url.Page("/")">
            <button type="submit" class="btn btn-link nav-link" name="provider" value="Vkontakte" title="Вход через Vkontakte">
                Вход
            </button>
        </form>
    }
</ul>