@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if(SignInManager.IsSignedIn(User))
    {
        if(User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    Админка
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Главная</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Messages" asp-action="Index">Сообщения</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Reminds" asp-action="Index">Напоминалки</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Admin/Hangfire">HangFire</a>
                </div>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Выход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>