@model Goblin.WebApp.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ой-ой.</h1>
<h4 class="text-danger">При выполнении вашего запроса произошла ошибка.</h4>
<p>@Model.Description</p>

@if(Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}