<div class="row flex-lg-row-reverse align-items-center">
    <div class="col-6 col-md-4 col-lg-6">
        <img alt="Логотип японского гоблина" class="d-block mx-lg-auto img-fluid" loading="lazy" src="assets/main-pic.png">
    </div>
    <div class="col-lg-6 gx-5">
        <h1>Японский гоблин</h1>
        <p class="lead">
            На данном сайте Вы можете поглядеть расписание пар САФУ по номеру группы.
            Отличительной особенностью от <a href="https://ruz.narfu.ru">официального расписания</a>
            является то, что расписание доступно не на ближайший месяц, <b>а на весь семестр, включая даты сессии</b>
            (<i>если это занесено в систему САФУ</i>).
        </p>
        <div class="d-grid gap-2 d-sm-flex mb-5">
            <a class="btn btn-primary btn-lg px-4 gap-3" routerLink="/schedule">Открыть расписание</a>
        </div>
        <h1>Бот</h1>
        <p class="lead mb-4">
            Также Вы можете воспользоваться функционалом ботов в указанных ниже мессенджерах/соц. сетях.
            Там есть возможность подписаться на рассылку расписания Вашей группы и погоды, которые приходят каждое утро.
            Подробнее в <a href="https://vk.com/@japanese.goblin-commands" target="_blank">справке.</a>
        </p>
        <div>
            <a class="btn" href="https://vk.com/japanese.goblin" target="_blank">
                <img alt="VK logo" class="mx-auto" height="60" src="assets/vk.svg" width="60">
            </a>
            <a class="btn" href="https://t.me/japanese_goblin_bot" target="_blank">
                <img alt="Telegram logo" class="mx-auto" height="60" src="assets/telegram.svg" width="60">
            </a>
        </div>
    </div>
</div>