<h2>Расписание САФУ</h2>
<div class="col-md-3">
    <form class="form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" required="" autofocus="" formControlName="groupId" min="100000">
            <label for="groupId">Номер группы</label>
            <small class="form-text text-danger" *ngIf="checkoutForm.invalid">
                Номер группы должен быть больше 100000
            </small>
        </div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" name="date" id="date" formControlName="date" min="2021-09-01">
            <label for="date">Дата</label>
            <small class="form-text text-muted">
                (если не указана, то с сегодняшнего дня)
            </small>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary mb-2" [disabled]="checkoutForm.invalid">Посмотреть</button>
        </div>
    </form>
    <hr/>
    <p>А также можете воспользоваться функционалом бота для <b>получения расписания по утрам в личные сообщения</b> в следующих местах:</p>
</div>