@{
    ViewData["Title"] = "Сообщения";
}

<h1>Сообщения</h1>
@Html.AntiForgeryToken()
<hr/>

<div class="row">
    <div class="col-md-3">
        <h3>Рассылка всем</h3>
        <div class="form-group">
            <label>Сообщение</label>
            <textarea class="form-control message-all" placeholder="Сообщение"></textarea>
        </div>
        <div class="btn-group">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2">
                    <button id="add-attach-all" type="button" class="btn btn-info">Добавить аттач</button>
                </div>
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-warning send-message-all">Отправить</button>
                </div>
            </div>
        </div>
        <div class="form-group attachments-all">
            <label>Прикрепления</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">1</span>
                </div>
                <input type="text" class="form-control attach-all" placholder="attach">
            </div>
        </div>
    </div>
    <div class="col-md-3 offset-md-2">
        <h3>Письмо одному</h3>
        <div class="form-group">
            <label>ID (2000000001 для бесед)</label>
            <input type="number" class="form-control user-id" placeholder="ID">
        </div>
        <div class="form-group">
            <label>Сообщение</label>
            <textarea class="form-control message-one" placeholder="Сообщение"></textarea>
        </div>
        <div class="btn-group">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2">
                    <button id="add-attach-one" type="button" class="btn btn-info">Добавить аттач</button>
                </div>
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-warning send-message-one">Отправить</button>
                </div>
            </div>
        </div>
        <div class="form-group attachments-one">
            <label>Прикрепления</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">1</span>
                </div>
                <input type="text" class="form-control attach-one" id="attach" placholder="attach">
            </div>
        </div>
    </div>
</div>

@section AdminScripts {
    <script src="~/js/admin.js"></script>
}