<h1>
    {{ groupId }} - {{ response.groupName }}
</h1>

<button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
    <span>
        Дополнительно
    </span>
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Скачать файл (.ics)</span>
    </button>
    <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <span>Добавить в календарь</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item disabled="">
        <mat-icon>notifications_off</mat-icon>
        <span>А больше ничего нет...</span>
    </button>
</mat-menu>

<mat-tab-group mat-align-tabs="center" >
    <mat-tab label="{{ item.key }}" *ngFor="let item of response.lessons | keyvalue">
        <app-lesson *ngFor="let lesson of item.value" [lesson]="lesson"></app-lesson>
    </mat-tab>
</mat-tab-group>