<div class="text-center">
    <div class="spinner-border" style="width: 9rem; height: 9rem;" *ngIf="!response">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="response">
    <div *ngIf="response.isFromSite">
        <ngb-alert type="warning">
            <b>Внимание!</b> Расписание получено напрямую с сайта - из-за этого доступно расписание только на месяц
        </ngb-alert>
    </div>
    <h4>
        {{ groupId }} - {{ response.groupName }}
    </h4>
    <div ngbDropdown class="d-inline-block pb-2">
        <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Дополнительно</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="btn" ngbDropdownItem [href]="response.icsLink" target="_blank" [disabled]="!response.icsLink">Скачать файл (.ics)</a>
            <a class="btn" ngbDropdownItem [href]="this.sanitize(response.webCalLink)" target="_blank" [disabled]="!response.webCalLink">Добавить в календарь</a>
            <hr/>
            <button ngbDropdownItem disabled>А больше пока ничего и нет...</button>
        </div>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li ngbNavItem *ngFor="let weeks of response.lessons | keyvalue">
            <a ngbNavLink>
                {{ weeks.key | weekStartEnd}}
            </a>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-lg-2" *ngFor="let day of weeks.value | keyvalue">
                        <div class="mx-1">
                            <div class="dayofweek text-center">
                                <b>{{ day.key | date:'EEEE, d MMMM':'+0300':'ru' }}</b>
                            </div>
                            <hr />
                            <app-lesson *ngFor="let lesson of day.value" [lesson]="lesson" class="lesson-card">
                            </app-lesson>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>