.dayofweek {
    font-size: small;
    margin: 5px 0 5px 2px;
}

.timetable_sheet, .timetable_sheet_xs {
    margin: 1px 1px 0 0;
    padding: 5px;
    border: solid 1px #ccc;
    font-size: small;
    position: relative;
}

.timetable_sheet {
    min-height: 210px; /* 170px */
    margin: 2px 2px 0 2px;
}

.last .timetable_sheet {
    margin-right: 0;
}

.timetable_sheet span, .timetable_sheet_xs span {
    display: block;
}

@media screen and (min-width:1500px) {
    .timetable_sheet {
        min-height: 150px;
    }
}

.num_para {
    position: relative;
    top: -5px;
    left: -5px;
    display: inline-block !important;
    /*background-color: #eee; */
    background-color: rgba(255, 255, 255, 0.5);
    /*border: solid #ccc;
border-width: 0 1px 1px 0;*/
    /*opacity: .8;*/
    width: 20px;
    height: 20px;
    margin: 0 0 2px 0;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    /*border: solid 1px red;*/
}

.time_para {
    position: relative;
    top: -3px;
    display: inline-block !important;
    /*background-color: #eee;*/
    /*width: 100px;*/ height: 20px;
    margin: 0 4px 2px 0;
    /*padding: 0 5px;*/
    line-height: 20px;
    vertical-align: middle; /*text-align: center;*/
    font-size: x-small;
}

.modify {
    border-bottom: 1px dotted red;
}

.timetable_sheet .auditorium {
    /*position: absolute;
left: 5px;
right: 5px;
bottom: 5px;*/
    border-top: 1px dotted #252C32;
    padding: 2px 2px 0 2px;
    margin-top: 3px;
    /*padding: 0 2px 0 2px;*/
    /*padding: 0 5px;
background-color: #fff;
opacity: .8;*/
}
/*.timetable_sheet .auditorium hr
{
border-top: 1px dotted #252C32;
margin: 0 0 4px 0;
}*/
.timetable_sheet .auditorium_rgh {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    /*border-top: 1px dotted #252C32;*/
    padding: 5px 2px 0 2px;
    text-align: right;
    font-weight: bold;
}

.auditorium_about {
    /*width: 22px; height: 22px;
margin: 0; padding: 4px;*/
    display: inline-block !important;
    float: right;
    opacity: .6;
}
/*.timetable_sheet .auditorium:hover
{
background-color:rgba(255, 255, 255, 0.5);
}*/
.timetable_sheet .discipline {
    /*font-size: medium;*/
    /*font-weight: bold;*/
    /*white-space: nowrap;*/
    /*max-height: 75px;
overflow: hidden;
text-overflow: ellipsis;*/
}

.timetable_sheet .kindOfWork {
    /*color: #aaa;*/
    opacity: .8;
    font-size: x-small;
}

.timetable_sheet_xs .kindOfWork {
    /*color: #aaa;*/
    opacity: .8;
    /*font-size: x-small; */
}

.timetable_sheet_xs .lecturer, .timetable_sheet_xs .discipline {
    display: inline-block !important;
}

.group {
    font-size: small;
    /*color: #000;*/
    display: block !important;
    background-color: #fff;
    /*border: solid 1px #ccc;*/
    font-style: italic;
    margin-top: 2px;
    padding: 2px 5px;
    /*padding: 4px 0 0 0;*/
    opacity: .6;
}

.transparent {
    background: transparent !important;
}

.white {
    background: #fff !important;
}

.yellow {
    background: #ffa !important;
}

.green {
    background: #afa !important;
}

.blue {
    background: #BDD6EE !important;
}
/* #aff */
.red {
    background: #fcc !important;
}

.orange {
    background: #fc9 !important;
}

/* my */
.box {
    border-color: darkcyan;
    border-width: 1px;
    border-style: solid;
    margin: 3px;
    min-height: 210px;
}

.box > * {
    padding: 2px;
}

.type {
    font-size: x-small;
}