<div class="card mb-3 lesson-card {{ lesson | lessonTypeColor }}">
    <div class="card-header text-dark text-center">
        <span class="start-0 h4 position-absolute top-0">
            {{ lesson.number }}
        </span>
        <span class="text-center">
            {{ lesson.startEndTime }}
        </span>
    </div>
    <div class="card-body">
        <small>
            {{ lesson.type }}
        </small>
        <p class="text-break">
            <b>{{ lesson.name }}</b>
        </p>
        <small class="card-text text-capitalize">
            {{ lesson.teacher }}
        </small>
        <hr />
        <p class="card-text font-italic">{{ lesson.groups }}</p>
    </div>
    <div class="card-footer">
        <p>
            <b>ауд. {{ lesson.auditory }}</b>, {{ lesson.address }}
        </p>
        <b *ngIf="lesson.link">
            <a [href]="lesson.link">Ссылка на курс</a>
        </b>
    </div>
</div>