<div class="card mb-3 timetable_sheet {{ lesson | lessonTypeColor }}">
    <div class="card-header">
        <span class="badge text-dark border border-dark border-2">
            {{ lesson.number }}
        </span>
        <span class="badge text-dark">
            {{ lesson.startEndTime }}
        </span>
    </div>
    <div class="card-body">
        <small>
            {{ lesson.type }}
        </small>
        <p>
            <b>{{ lesson.name }}</b>
        </p>
        <small class="card-text text-capitalize">
            {{ lesson.teacher }}
        </small>
        <hr />
        <p class="card-text font-italic">{{ lesson.groups }}</p>
    </div>
    <div class="card-footer">
        <p>
            <b>ауд. {{ lesson.auditory }}</b>, {{ lesson.address }}
        </p>
        <b *ngIf="lesson.link">
            <a [href]="lesson.link">Ссылка на курс</a>
        </b>
    </div>
</div>