<head>
    <title>ОШИБОЧКА</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<h1 style="text-align:center">Ошибочка!</h1>
</body>