<head>
    <title>ОШИБОЧКА</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/styles/bootstrap.min.css"/>
</head>
<body>
<h1 style="text-align:center">Ошибочка! Группа с таким номером не найдена, либо сайт с расписанием недоступен</h1>
</body>