<head>
    <title>Расписание</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/login.min.css" />
</head>
<body class="text-center">
    <form class="form-signin" action="/Schedule/Show" method="get">
        <input type="number" class="form-control" placeholder="Номер группы (обычно 6 цифр)" name="id" required="" autofocus="">
        <button class="btn btn-lg btn-info btn-block" type="submit">Посмотреть</button>
        <p class="mt-5 mb-3 text-muted">© JG 2017-2018</p>
    </form>
</body>