@{
    ViewData["Title"] = "Добавление напоминания";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-3">
        <form method="post" asp-area="Admin" asp-controller="Reminds" asp-action="AddRemind">
            <div class="form-group">
                <label>ID</label>
                <input type="number" class="form-control" name="peerId" placeholder="ID" required="">
            </div>
            <div class="form-group">
                <label>Текст</label>
                <input type="text" class="form-control" name="text" placeholder="text" required="">
            </div>
            <div class="form-group">
                <label>Дата</label>
                <input type="date" class="form-control" name="dateStr" required="">
            </div>

            <div class="form-group">
                <label>Дата</label>
                <input type="time" class="form-control" name="time" required="">
            </div>
            <button type="submit" class="btn btn-warning">Отправить</button>
        </form>
    </div>
</div>