@page
@using Goblin.Domain
@model Goblin.WebApp.Areas.Admin.Pages.CronJobs.Create;
@{
    ViewData["Title"] = "Добавление Cron";
}

<div class="col-md-3">
    <h2>@ViewData["Title"]</h2>
    <hr/>
    <form asp-area="Admin" asp-page="./Create" asp-antiforgery="true" method="post">
        <div class="form-group">
            <label asp-for="Input.Name"></label>
            <input asp-for="Input.Name" class="form-control" required="required"/>
        </div>
        <div class="form-group">
            <label asp-for="Input.ChatId"></label>
            <input asp-for="Input.ChatId" class="form-control" required="required"/>
            <small class="form-text text-muted">Для вк - 2000000001 для бесед</small>
        </div>
        <div class="form-group">
            <label asp-for="Input.NarfuGroup"></label>
            <input asp-for="Input.NarfuGroup" class="form-control" min="0"/>
        </div>
        <div class="form-group">
            <label asp-for="Input.WeatherCity"></label>
            <input asp-for="Input.WeatherCity" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConsumerType"></label>
            <select asp-for="Input.ConsumerType" class="form-control" asp-items="Html.GetEnumSelectList<ConsumerType>()" required="required"></select>
        </div>
        <hr/>
        <div class="form-group">
            <p>* - для любого значения</p>
            <p>1-12 - каждую * между 0 и 12</p>
        </div>
        <div class="form-group">
            <label asp-for="Input.CronHour"></label>
            <input asp-for="Input.CronHour" class="form-control" value="*"/>
            <small>От 0 до 23</small>
        </div>
        <div class="form-group">
            <label asp-for="Input.CronMinute"></label>
            <input asp-for="Input.CronMinute" class="form-control" value="*"/>
            <small>От 0 до 59</small>
        </div>
        <div class="form-group">
            <label asp-for="Input.CronDayOfMonth"></label>
            <input asp-for="Input.CronDayOfMonth" class="form-control" value="*"/>
            <small>От 0 до 31</small>
        </div>
        <div class="form-group">
            <label asp-for="Input.CronMonth"></label>
            <input asp-for="Input.CronMonth" class="form-control" value="*"/>
            <small>От 1 до 12</small>
        </div>
        <div class="form-group">
            <label asp-for="Input.CronDayOfWeek"></label>
            <input asp-for="Input.CronDayOfWeek" class="form-control" value="*"/>
            <small>От 0 до 6</small>
        </div>
        <button type="submit" class="btn btn-success btn-block">Добавить</button>
    </form>
</div>