<h2>
    Список пользователей [***] <span class="badge bg-dark">{{ data?.total }}</span>
</h2>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Admin?</th>
        <th>Schedule?</th>
        <th>Weather?</th>
        <th>Group</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of data?.items">
        <td>{{ user.id }}</td>
        <td>{{ user.isAdmin }}</td>
        <td>{{ user.hasScheduleSubscription }}</td>
        <td>{{ user.hasWeatherSubscription }}</td>
        <td>{{ user.narfuGroup }}</td>
        <td>{{ user.weatherCity }}</td>
    </tr>
    </tbody>
</table>