name: Build & test

on:
  push:
    branches-ignore:
      - main

jobs:
  backend-build:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0
      - name: Restore nuget packages
        run: dotnet restore src/Goblin.sln
      - name: Build
        run: dotnet build src/Goblin.sln --configuration Release --no-restore
      - name: Run tests
        run: dotnet test src/Goblin.sln --no-restore
